<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <p class="h2 text-primary">Update Boat</p>
            <div class="card p-3">
                <form  (ngSubmit)="register()">
                
                    <div class="form-group">
                        <label for="name">Boat name</label>
                        <input type="text"  [(ngModel)]="boats.boatName" name="name" id="name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="name">Boat type</label>
                        <input type="text"  [(ngModel)]="boats.boatType"  name="name" id="name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="name">Boat size</label>
                        <input type="text"  [(ngModel)]="boats.boatSize" name="name" id="name" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="name">Date</label>
                        <input type="date"  [(ngModel)]="boats.date" name="" id="" class="form-control">
                    </div>

                    <button class="btn btn-primary w-100 mt-2" >Update</button>


                </form>
            </div>
        </div>
    </div>
</div>
