
<div class="container">

<p class="h2  text-primary mt-3"> View Boat deatails</p>

<div class="row mt-5">
    <div class="col-md-6 ">
        <div class="card text-center w-50">
    <div>
        <label class="h5 mx-2"> <br>   id number: <br></label> {{boats.id}}
    </div>
    <div>
        <label class="h5 mx-2"> <br> Boat name: <br></label>{{boats.boatName}}
    </div>

    <div>
        <label class="h5 mx-2"> <br> Boat type: <br></label>{{boats.boatType}}
    </div>
    <div>
        <label class="h5 mx-2"> <br> Boat size: <br></label>{{boats.boatSize}}
    </div>
    <div>
        <label class="h5 mx-2"> <br> Stand of boat: <br></label>{{boats.standOfBoat}}
    </div>
    <div>
        <label class="h5 mx-2"> <br> Date of reg: <br></label>{{boats.date}}
    </div>

</div>
</div>
</div>

<button mat-raised-button color="primary" routerLink="/boat" class="mt-3">back</button>
</div>
