<div class="container-md mt-3">
<div class= "card">
    <img src="assets/images/zanzibar.png" class= "card-img-top" class="image1">
    <div class="card-body">
        <p class="h3 text-center">Idara ya Uvuvi Zanzibar</p>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
    <!-- card ya kwanza -->
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card mb- shadow-sm">
            <img class="responsive" src="assets/images/1.jpg" class="pc"/>
            <div class=" card-body">
                <div class= "card-title">
                    <h2>Uvuvi kwa kutumia nyavu</h2>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, natus! Sunt autem dicta sed hic eaque minima praesentium tempore magni libero sapiente pariatur laboriosam ex rem cupiditate, assumenda fugit harum. </p>
            </div>
        </div>
    </div>

     <!-- card ya pili -->
     <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card mb- shadow-sm">
            <img class="responsive" src="assets/images/pweza.jpg" class="pc"/>
            <div class=" card-body">
                <div class= "card-title">
                    <h2>Upatikanaji wa Pweza</h2>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, natus! Sunt autem dicta sed hic eaque minima praesentium tempore magni libero sapiente pariatur laboriosam ex rem cupiditate, assumenda fugit harum. </p>
            </div>
        </div>
    </div>

      <!-- card ya tatu -->

      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card mb- shadow-sm">
            <img class="responsive" src="assets/images/4.jpg" class="pc"/>
            <div class=" card-body">
                <div class= "card-title">
                    <h2>This is title</h2>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, natus! Sunt autem dicta sed hic eaque minima praesentium tempore magni libero sapiente pariatur laboriosam ex rem cupiditate, assumenda fugit harum. </p>
            </div>
        </div>
    </div>
</div>
<!-- mwisho wa row ya kwanza -->

<div class="row mt-5">
    <!-- card ya kwanza -->
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card mb- shadow-sm">
            <img claa="responsive" src="assets/images/MWANI.jpg" class="pc"/>
            <div class=" card-body">
                <div class= "card-title">
                    <h2>This is title</h2>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, natus! Sunt autem dicta sed hic eaque minima praesentium tempore magni libero sapiente pariatur laboriosam ex rem cupiditate, assumenda fugit harum. </p>
            </div>
        </div>
    </div>

     <!-- card ya pili -->
     <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card mb- shadow-sm">
            <img class="responsive" src="assets/images/wavuvi.jpg" class="pc"/>
            <div class=" card-body">
                <div class= "card-title">
                    <h2>This is title</h2>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, natus! Sunt autem dicta sed hic eaque minima praesentium tempore magni libero sapiente pariatur laboriosam ex rem cupiditate, assumenda fugit harum. </p>
            </div>
        </div>
    </div>

      <!-- card ya tatu -->

      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card mb- shadow-sm">
            <img class="responsive" src="assets/images/majongoo.jpg" class="pc"/>
            <div class=" card-body">
                <div class= "card-title">
                    <h2>This is title</h2>
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, natus! Sunt autem dicta sed hic eaque minima praesentium tempore magni libero sapiente pariatur laboriosam ex rem cupiditate, assumenda fugit harum. </p>
            </div>
        </div>
    </div>
</div>
<!-- mwisho wa row ya pili -->



    
</div>



</div>